{% extends 'numbers/numbers_index.html' %}
{% block year %}
    <table style='width: 44%; display: inline-table'>
        <tr>
            <td style='width: 100px'>Data</td>
            <td>Kol-vo</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2001-04-11</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-12</td>
            <td>6</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-13</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-14</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-15</td>
            <td>9</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-16</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-17</td>
            <td>6</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-18</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-19</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-20</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-21</td>
            <td>7</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-22</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-23</td>
            <td>7</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-24</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-25</td>
            <td>9</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-26</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-27</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-28</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-29</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-30</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-11</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-12</td>
            <td>6</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-13</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-14</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-15</td>
            <td>9</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-16</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-17</td>
            <td>6</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-18</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-19</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-20</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-21</td>
            <td>7</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-22</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-23</td>
            <td>7</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-24</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-25</td>
            <td>9</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-26</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-27</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-28</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-29</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-30</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
    </table>
    <table style='width: 44%; display: inline-table;' align='right'>
        <tr>
            <td style='width: 100px'>Data</td>
            <td>Kol-vo</td>
            <td>1</td>
            <td>2</td>
            <td>3</td>
            <td>4</td>
            <td>5</td>
            <td>6</td>
            <td>7</td>
            <td>8</td>
            <td>9</td>
            <td>10</td>
            <td>11</td>
            <td>12</td>
            <td>13</td>
            <td>14</td>
            <td>15</td>
            <td>16</td>
            <td>17</td>
            <td>18</td>
            <td>19</td>
            <td>20</td>
        </tr>
        <tr>
            <td>2001-04-11</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-12</td>
            <td>6</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-13</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-14</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-15</td>
            <td>9</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-16</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-17</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-18</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-19</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-20</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-21</td>
            <td>7</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-22</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-23</td>
            <td>7</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-24</td>
            <td>4</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-25</td>
            <td>9</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-26</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-27</td>
            <td>4</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-28</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-29</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-30</td>
            <td>5</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-11</td>
            <td>0</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-12</td>
            <td>6</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-13</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-14</td>
            <td>3</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-15</td>
            <td>9</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-16</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-17</td>
            <td>6</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-18</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-19</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-20</td>
            <td>4</td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-21</td>
            <td>7</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-22</td>
            <td>5</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-23</td>
            <td>7</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-24</td>
            <td>4</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-25</td>
            <td>9</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
        </tr>
        <tr>
            <td>2001-04-26</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-27</td>
            <td>4</td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-28</td>
            <td>4</td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-29</td>
            <td>5</td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>2001-04-30</td>
            <td>5</td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td style='background-color: pink;'></td>
            <td style='background-color: pink;'></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

    <div id="bar" class="bar">
    </div>

    <script src="{{ url_for('static', filename='js/d3.v5.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>

    <script type="text/javascript">
        var graphs = {{graphsJSON | safe}};

        layout = {
            yaxis:{title:{text: 'Age'}},
            xaxis:{
                range:[{{ -1*min - 2 }}, {{  min + 2  }}],
                tickvals:[{{ -1*min }}, Math.floor({{ (-1*min)/4*3 }}), Math.floor({{ (-1*min)/4*2 }}), Math.floor({{ (-1*min)/4 }}), {{ 0 }},
                    Math.ceil({{ (min)/4 }}), Math.ceil({{ (min)/4*2 }}), Math.ceil({{ (min)/4*3 }}), {{ min }}],
                ticktext:[{{ min }}, Math.ceil({{ (min)/4*3 }}), Math.ceil({{ (min)/4*2 }}), Math.ceil({{ (min)/4 }}), {{ 0 }},
                        Math.ceil({{ (min)/4 }}), Math.ceil({{ (min)/4*2 }}), Math.ceil({{ (min)/4*3 }}), {{ min }}],
                title: {text:'Number'}},
            barmode:'overlay',
            bargap:0.1}

        for(var block_id in graphs) {
            Plotly.plot(block_id,
                {data: graphs[block_id][0], layout: layout},{});
        }
    </script>
{% endblock %}