{% extends 'statistic_maksima/statistic_index.html' %}
{% block year %}
	<table>
	<tr>
			<td style = 'width: 250px'>2008-12-09</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'background-color: pink; border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-11</td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-14</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-16</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'background-color: pink'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-18</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-21</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-23</td>
			<td style = 'background-color: pink; border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-25</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-28</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td style = 'width: 250px'>2008-12-30</td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td style = 'background-color: pink'></td>
			<td style = 'background-color: pink'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style = 'border-left: 3px solid black'></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		</table>	{% endblock %}