{% extends "index.html" %}

{% block content %}
<table class="analis">
    <tr>
        <td>Дата</td>
        <td>Созв/град</td>
        <td>д/л </td>
        <td>0 пр</td>
        <td>По выпад</td>
        <td>По поряд</td>
        <td>Луна б/к</td>
        <td></td>
    </tr>
    <tr>
        <td>2020-06-15</td>
        <td></td>
        <td></td>
        <td>0</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
<tr><td>2020-06-15</td><td></td><td></td><td>0</td><td></td><td></td><td></td><td></td></tr><tr><td>2020-06-15</td><td></td><td></td><td>0</td><td></td><td></td><td></td><td></td></tr><tr><td>2020-06-15</td><td></td><td></td><td>0</td><td></td><td></td><td></td><td></td></tr><tr><td>2020-06-15</td><td></td><td></td><td>4</td><td>3 4 6 12</td><td>4 8 9 11</td><td></td><td></td></tr></table>
{% endblock %}